@charset "UTF-8";



body{
    background: #2c3338;
    color: #606468;
    height: 700px;
}



form.mainform{
    display: block;
    background-color: rgba(93, 94, 94, 0.8);
    width: 60%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    height: 300px;
    margin-top: 50px;
}




input.napaform,form-control{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #a5a8ac;
    
}

div.napaform{
    height: 40px;
    margin-top: 30px;
}




div.main_title{
    font-size: 30px;
    background-color: rgba(23, 51, 141, 0.431);
    text-align: left;
    color: white;
    font-weight: lighter;
}

h1.login_title{
    
    padding-top: 20px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    font-weight: lighter;


}


.forget{
    color: white;
    display: block;
    font-weight: lighter;
    margin-left: 20px;
    text-align: left;
    text-decoration: none;
}



p.login_title{
    font-size: 20px;
    font-weight: lighter;
    color: white;



}

.napadd{
    margin-top: 10px;
}


ul.dropdown-menu.show{
    background-color: rgba(93, 94, 94, 0.8);
    width: 500px;
}