@charset "UTF-8";
*, *::before, *::after {
    box-sizing: border-box;
}

div.main_title{
    font-size: 30px;
    background-color: rgba(23, 51, 141, 0.431);
    text-align: center;
}

h1.login_title{
    margin-top: 20px;
    font-size: 30px;

}

div.form-group{
    background-color: aqua;
    margin-bottom: 10px;
    display: inline;
    font-size: 25px;
}